VITE_API_BASE_URL=http://localhost:4000/api
VITE_ADMIN_APP_URL=http://localhost:5173
VITE_USER_APP_URL=http://localhost:5174

# Ces variables ne sont nécessaires que si tu utilises encore Supabase pour des services externes.
VITE_SUPABASE_URL=https://ajzekwzwffndlagechkz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFqemFzZSIsImFzIjoiaW5kZXBTZXRzIiwicmV0Ijoibm9uZSJ9