VITE_SUPABASE_URL=https://ajzekwzwffndlagechkz.supabase.co
VITE_ADMIN_APP_URL=https://admin.example.com
VITE_USER_APP_URL=https://espace.example.com
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFqemVrd3p3ZmZuZGxhZ2VjaGt6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYyMDU5ODYsImV4cCI6MjEwMTc4MTk4Nn0.mJ5Car77g4RSZzYyLg1MiQ6hfNmzqLqAKB4TDaJsm9g
